<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChineseToPinyin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>14B9162D1CDB359C00CC732D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14B916461CDB359C00CC732D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14B916511CDB359C00CC732D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
